@font-face {
    font-family: Bariol;
    src: url(../font/Bariol_Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: Bariol;
    src: url(../font/Bariol_Bold.woff) format('woff');
    font-weight: 700;
}


// @font-face {
//     font-family: MuseoSans;
//     src: url(../font/MuseoSans-300.woff) format('woff');
//     font-weight: 300;
// }

// @font-face {
//     font-family: MuseoSans;
//     src: url(../font/MuseoSans-500.woff) format('woff');
//     font-weight: 500;
// }

// @font-face {
//     font-family: MuseoSans;
//     src: url(../font/MuseoSans-700.woff) format('woff');
//     font-weight: 700;
// }