footer{
    padding-top: rem-calc(48px);
    padding-bottom: rem-calc(64px);
    text-align: center;
    background: #FBF0EA;
    position: relative;
    overflow: hidden;

    &::after, &::before{
        content: " ";
        position: absolute;
        opacity: 0.5;
    }

    &::before{
        top: rem-calc(54px);
        // left: 0;
        right: 40.36%;
        width: rem-calc(1252px);
        height: rem-calc(474px);
        background: url('../../assets/img/footer/footer-elements-1.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after{
        top: 0;
        left: 75%;
        width: rem-calc(262px);
        height: rem-calc(337px);
        background: url('../../assets/img/footer/footer-elements-2.png');
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint(large up){
            left: inherit;
            right: 5.8%;
        }
    }

    h5{
        color: $secondary-color;
        @include font(24px,700,0.32px);
    }

    .button{
        margin-top: rem-calc(28px);
    }

    img{
        height: rem-calc(48px);
        margin-bottom: rem-calc(36px);
    }

    span{
        color: $secondary-color;
        @include font(15px,400,0.2px);
    }

    .grid-container{
        position: relative;
        z-index: 1;

        &>.grid-x{
            &>.cell{
                &:first-of-type{
                    margin-bottom: rem-calc(120px);
                }
            }
        }
    }
}