@mixin font($size: 11px, $weight: 400, $spacing: 0px, $line: normal) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    line-height: $line;
}

@mixin icon($size: 16px, $color: red) {
    display: block;
    width: $size;
    height: $size;
    font-size: $size;
    line-height: $size;
    color: $color;
}