nav.navbar{
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    display: flex;
    margin-top: rem-calc(72px);
    z-index: 999;

    img{
        margin: auto;
        height: rem-calc(48px);
    }
}