<section class="header">
    <div class="grid-container">
        <img class="logo" alt="Wonder Workshop logo" src="assets/img/logo/wonder-workshop-white.png" />
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-5 medium-offset-1 large-offset-0 large-5 small-order-2 medium-order-1">
                <header>
                    <div class="title">
                        <div id="typed-strings">
                            <h1>Szukaj!</h1>
                            <h2>Odkryj!</h2>
                            <h2>Inspiruj!</h2>
                        </div>
                        <span id="typed"></span>
                    </div>
                    <p>Pobierz scenariusz lekcji z Dashem i Dotem dla Ciebie i Twoich uczniów! W atrakcyjnym materiale znajdziesz połączenie STEAM, robotyki i zabawy.</p>
                </header>

                {{> form}}
            </div>
            <div class="cell small-12 medium-5 large-7 main-img small-order-1 medium-order-2">
                <div class="main">
                    <img alt="podręcznik + ćwiczenia" src="assets/img/zestaw.png" />
                </div>
                <img class="splash white" alt="splash" src="assets/img/splashes/splash-white.svg" />
                <img class="splash orange" alt="splash" src="assets/img/splashes/splash-orange.svg" />
                <img class="splash purple" alt="splash" src="assets/img/splashes/splash-purple.svg" />
                <img class="splash grey" alt="splash" src="assets/img/splashes/splash-grey.svg" />
                <img class="splash green" alt="splash" src="assets/img/splashes/splash-green.svg" />
            </div>
        </div>
    </div>

    <svg viewBox="0 0 1920 531" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="00-00-00-Homepage" transform="translate(0.000000, -387.000000)" fill="#FFFFFF">
                <g id="section-hello" transform="translate(-336.000000, 0.000000)">
                    <path d="M336,837.284851 C641.258123,931.547066 882.344331,908.766858 1208,708.457899 C1571.15095,485.085807 1875.87697,262.131036 2256,469.272523 L2256,918 L336,918 L336,837.284851 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </g>
    </svg>
</section>