<section class="pages">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-5 medium-offset-1 large-offset-0 large-3">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250" data-aos-offset="-50">
                    <img  src="assets/img/pages/04.png" />
                </div>
            </div>
            <div class="cell small-8 medium-6 large-4">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50" data-aos-offset="-50">
                    <img  src="assets/img/pages/01.png" />
                </div>
            </div>
            <div class="cell small-12 medium-6 large-6">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150" data-aos-offset="-50">
                    <img  src="assets/img/pages/02.png" />
                </div>
            </div>
            <div class="cell small-12 medium-5 large-3">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="350" data-aos-offset="-50">
                    <img src="assets/img/pages/03.png" />
                </div>
            </div>
            <img class="front" src="assets/img/pages/front-circles.svg"/>
            <img class="behind" src="assets/img/pages/behind-circles.svg"/>
        </div>
    </div>
</section>