.button{
    display: inline-flex;
    align-items: center;
    height: rem-calc(48px);
    border-radius: rem-calc(5px);
    background: transparentize($white, 0.75);
    min-width: rem-calc(196px);
    justify-content: center;
    opacity: 0.5;
    pointer-events: none;
    cursor: none;
    transition: 0.4s ease;
    
    &.active{
        pointer-events: fill;
        cursor: pointer;
        background: transparentize($primary-color, 0);
        opacity: 1;
        
        &:hover{
            background: darken(transparentize($primary-color, 0), 5);
        }

        &:active{
            transform: scale(0.96);
            transition: 0.16s ease;
        }
    }


    i{
        @include icon(16px,$white);

    }

    &:not(.left-icon):not(.right-icon){
        i{
            display: none;
        }
    }

    span{
        margin-left: rem-calc(28px);
        margin-right: rem-calc(28px);
    }

    &.left-icon{
        flex-direction: row;

        i{
            margin-left: rem-calc(20px);
        }

        span{
            margin-left: rem-calc(10px);
            margin-right: rem-calc(28px);
        }
    }

    &.right-icon{
        flex-direction: row-reverse;

        i{
            margin-right: rem-calc(20px);
        }
        
        span{
            margin-left: rem-calc(28px);
            margin-right: rem-calc(10px);
        }
    }

    span{
        @include font(15px,700,0.2px,21px);
        color: $white;
    }
}