input, button{
    font-family: $body-font-family;
}

form{
    text-align: center;

    @include breakpoint(medium up){
        text-align: left;
    }

    label{
        position: relative;
        display: flex;
    }

    label.field{
        background: $white;
        padding: rem-calc(30px) 0 rem-calc(15px) 0;
        height: rem-calc(64px);
        border-radius: rem-calc(5px);
        cursor: text;
        margin-bottom: 1rem;

        i{
            @include icon(28px, $primary-color);
            position: absolute;
            top: rem-calc(18px);
            right: rem-calc(32px);
        }

        input{
            border: none;
            background: none;
            color: $black;
            @include font(17px,400);
            width: 100%;
            margin: 0 rem-calc(76px) 0 rem-calc(32px);
            padding: 0;
            z-index: 1;
            
            &:focus{
                outline: none;
            }
        }

        span.placeholder{
            @include font(13px,700,0.2px);
            color: $primary-color;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: rem-calc(32px);
            right: rem-calc(76px);
            transform: scale(1.2);
            transform-origin: center left;
            transition: 0.16s ease;
            -webkit-font-smoothing: subpixel-antialiased;
        }

        input.empty+span.placeholder{
            bottom: 0;
        }

        %span-on-top{
            bottom: rem-calc(24px);
            transform: scale(1);
            pointer-events: none;
        }

        input:not(.empty)+span.placeholder, input:focus+span.placeholder{
            @extend %span-on-top;
        }

        @include breakpoint(medium down){
            input:active+span.placeholder{
                bottom: rem-calc(24px);
                transform: scale(1);
                pointer-events: none;
            }
        }
    }

    label.terms{
        cursor: pointer;
        text-align: left;

        input{
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            margin: 7px;
            width: rem-calc(10px);
            height: rem-calc(10px);
        }

        input+div{
            display: inline-flex;
            flex-direction: row;
        }

        p{
            @include font(15px,400,0.2px,23px);
            color: get-color(light-primary);
            margin-left: 1rem;

            a{
                position: relative;
                color: $white;

                &::after{
                    content: " ";
                    position: absolute;
                    height: rem-calc(1px);
                    background: transparentize($white, 0.4);
                    left: 0;
                    right: 0;
                    bottom: rem-calc(-3px);
                    transition: 0.4s ease;
                }

                &:hover::after{
                    background: transparentize($white, 0);
                }
            }
        }

        //animation checkmark before
        input+div{
            .checkmark{
                &::after, &::before{
                    transition-duration: 0.24s;
                }

                //background
                &::after{
                    transform: scale(0);
                    border-radius: 2px;
                    transition-timing-function: ease;
                }

                //icon
                &::before{
                    transform: rotate(44deg) skew(6deg) scale(0);
                    transform-origin: center center;
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition-delay: 0s;
                }
            }
        }

        //animation checkmark after
        input:checked+div{
            .checkmark{
                border: 1px solid $primary-color;

                //background
                &::after{
                    transform: scale(1);
                    border-radius: 8px;
                }

                //icon
                &::before{
                    transform: rotate(44deg) skew(6deg) scale(1);
                    transition-delay: 0.24s;
                }
            }
        }
    }
}

.checkmark{
    //checkbox size
    $size: rem-calc(24px);

    position: relative;
    width: $size;
    height: $size;
    background: transparent;
    border-radius: 8px;
    // overflow: hidden;
    border: 1px solid $white;
    box-sizing: border-box;

    &::after, &::before{
        content: " ";
        position: absolute;
    }

    &::after{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $primary-color;
    }

    &::before{
        background: transparent;
        z-index: 1;
        top: rem-calc(6px);
        left: rem-calc(9px);
        width: rem-calc(4px);
        height: rem-calc(8px);
        border-right: 1px solid $white;
        border-bottom: 1px solid $white;
    }
}