@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ie9sgy');
  src:  url('fonts/icomoon.eot?ie9sgy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ie9sgy') format('truetype'),
    url('fonts/icomoon.woff?ie9sgy') format('woff'),
    url('fonts/icomoon.svg?ie9sgy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowRight:before {
  content: "\e900";
}
.icon-download:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e902";
}
