#error-browser{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: none;
}

#error-browser div{
    background-color: #0039be;
    color: white;
    padding: 64px 48px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    min-width: 304px;
    max-width: 960px;
}

#error-browser div p{
    margin-bottom: 20px;
}

#error-browser div a{
    text-decoration: underline;
    color: white;
}