---
<!-- layout: index -->
meta-title: Wonder
---

<!-- showing only for ie-users -->
<div id="error-browser">
  <div>
    <h1>UPS :(</h1>
    <p>Niestety prawdopodobnie przeglądasz stronę na częściowo/całkowicie niewspieranej przeglądarce. Dla poprawnego wyświetlania treści oraz bezpieczeństwa swoich danych, zalecamy instalację nowej przeglądarki.</p>
    <a target="_blank" href="https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support">Dowiedź się więcej o Interet Explorer</a>
  </div>
</div>
<!--  -->

<main>
  {{> header}}
  {{> pages}}
</main>

{{> footer}}