section.header{
    position: relative;
    background-image: linear-gradient(-45deg, #FFB84E 0%, #FF7B2B 100%);
    color: $white;

    @include breakpoint(small only){
        padding: 2rem 0 48%;
    }

    @include breakpoint(medium up){
        min-height: rem-calc(720px);
        height: 100vh;
        max-height: rem-calc(1280px);
    }

    img.logo{
        height: rem-calc(32px);
        display: flex;
        margin: 0 auto 2rem;
        
        @include breakpoint(medium up){
            position: absolute;
            top: rem-calc(48px);
            margin: 0 auto;
            left: 0;
            right: 0;
            height: rem-calc(48px);
        }

        @include breakpoint (1440 up){
            top: rem-calc(72px);
        }
    }

    &::after{
        position: absolute;
        content: " ";
        left: 0;
        right: 0;
        bottom: rem-calc(28px);
        background-image: url('../../assets/img/table.png');
        height: rem-calc(610px);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        transform: translateX(-17.5%);
        opacity: 0.4;
    }

    .grid-container{
        position: relative;
        height: 100%;
        z-index: 1;

        .grid-x{
            height: 100%;
            align-items: center;
        }
    }

    header{
        margin-bottom: rem-calc(48px);
        text-align: center;

        @include breakpoint(medium up){
            margin-bottom: rem-calc(80px);
            text-align: left;
        }
    }

    img{
        @include breakpoint(large up){
            margin-top: rem-calc(56px);
        }
    }

    .main{
        img{
            @include breakpoint(medium down){
                margin-bottom: 2rem;
                padding: 0 1.25rem;
            }
        }
    }

    .title{
        display: inline-flex;
        height: rem-calc(69px);

        h1, h2, span{
            @include font(48px,700);
            margin-bottom: 1rem;
        }

        @include breakpoint(medium up){
            height: rem-calc(78px);

            h1, h2, span{
                @include font(56px,700);
            }
        }

        span.typed-cursor{
            
            &.typed-cursor--blink{
                margin-left: 0.5rem;
                animation: typedjsBlink 0.88s infinite !important;
            }
        }
    }

    .main-img{
        position: relative;

        .main{

        }

        .splash{
            position: absolute;

            @include breakpoint(medium down){
                display: none;
            }

            //animation duration
            $time: 7.5s;
            $function: ease-in-out;
            $delay: 1.5s;
            //

            &.white{
                top: rem-calc(-56px);
                right: rem-calc(-24px);
                animation: $time moving1 $function infinite;
                animation-delay: $delay/0;
                
                @keyframes moving1 {
                    0%, 20%, 100%{
                        transform: translateX(0px) translateY(0px);
                    }
                    60%{
                        transform: translateX(25px) translateY(-25px);
                    }
                }

            }
            &.orange{
                top: rem-calc(158px);
                right: rem-calc(-116px);
                animation: $time moving2 $function infinite;
                animation-delay: $delay/0.5;

                @keyframes moving2 {
                    0%, 20%, 100%{
                        transform: translateX(0px) translateY(0px);
                    }
                    60%{
                        transform: translateX(25px) translateY(-12px);
                    }
                }
            }
            &.purple{
                bottom: rem-calc(68px);
                right: rem-calc(-163px);
                animation: $time moving3 $function infinite;
                animation-delay: $delay/1;

                @keyframes moving3 {
                    0%, 20%, 100%{
                        transform: translateX(0px) translateY(0px);
                    }
                    60%{
                        transform: translateX(32px) translateY(8px);
                    }
                }
            }
            &.grey{
                bottom: rem-calc(11px);
                right: rem-calc(54px);
                animation: $time moving4 $function infinite;
                animation-delay: $delay/1.5;

                @keyframes moving4 {
                    0%, 20%, 100%{
                        transform: translateX(0px) translateY(0px);
                    }
                    60%{
                        transform: translateX(5px) translateY(25px);
                    }
                }
            }
            &.green{
                bottom: rem-calc(-49px);
                right: rem-calc(217px);
                animation: $time moving5 $function infinite;
                animation-delay: $delay/2;

                @keyframes moving5 {
                    0%, 20%, 100%{
                        transform: translateX(0px) translateY(0px);
                    }
                    60%{
                        transform: translateX(-5px) translateY(25px);
                    }
                }
            }
        }
    }


    p{
        @include font(17px,400,0,25px);

        @include breakpoint(large up){
            @include font(19px,400,0,28px);
        }
    }

    button{
        margin-top: rem-calc(32px);
    }

    svg{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}