section.pages{
    background: #FBF0EA;
    position: relative;
    padding-top: rem-calc(48px);
    padding-bottom: rem-calc(48px);

    @include breakpoint(large up){
        padding-top: rem-calc(104px);
        padding-bottom: rem-calc(104px);
    }

    //gradient from top
    &::after{
        content: " ";
        position: absolute;
        background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .grid-container{
        .grid-x{
            .cell{
                &:nth-child(1){
                    z-index: 6;
                    margin-left: 32%;
                    
                    @include breakpoint(large up){
                        margin-left: 0;
                        margin-top: rem-calc(80px);
                    }

                    img{   
                        box-shadow: rgba(180,163,152,0.42) 0px 20px 28px;
                    }
                }

                &:nth-child(2){
                    z-index: 9;
                    margin-top: rem-calc(-48px);
                    margin-left: -46px;
                    
                    @include breakpoint(large up){
                        margin-top: 0;
                        margin-left: -86px;
                    }

                    img{   
                        box-shadow: rgba(180,163,152,0.42) 0px 24px 32px;
                    }
                }

                &:nth-child(3){
                    z-index: 8;
                    margin-top: rem-calc(-48px);
                    margin-left: 40px;

                    @include breakpoint(large up){
                        margin-top: rem-calc(149px);
                        margin-left: -186px;
                    }

                    img{   
                        box-shadow: rgba(180,163,152,0.42) 0px 24px 32px;
                    }
                }

                &:nth-child(4){
                    z-index: 7;
                    margin-top: rem-calc(-24px);

                    @include breakpoint(medium up){
                        margin-left: 4%;
                    }
                    
                    @include breakpoint(large up){
                        margin-top: rem-calc(31px);
                        margin-left: -86px;
                    }

                    img{   
                        box-shadow: rgba(180,163,152,0.42) 0px 20px 32px;
                    }
                }
            }
        }
    }

    .front{
        z-index: 10;
        position: absolute;
        top: rem-calc(156px);
        right: 16%;
        // width: rem-calc(1240px);
        height: rem-calc(529px);

        @include breakpoint(medium down){
            display: none;
        }
    }

    .behind{
        z-index: 2;
        position: absolute;
        top: rem-calc(126px);
        right: 14.27%;
        // width: rem-calc(1226px);
        height: rem-calc(650px);

        @include breakpoint(medium down){
            right: -25%;
        }
    }
}