<footer>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h5>Po wszystkim odwiedź nasz sklep by nie przegapić najnowszych okazji!</h5>
                <a href="https://wonderpolska.pl/" target="_blank" class="button active right-icon"><i class="icon-arrowRight"></i><span>Odwiedź sklep</span></a>
            </div>
            <div class="cell">
                <div class="grid-x">
                    <div class="cell">
                        <img src="assets/img/logo/wonder-workshop-color.png" />
                    </div>
                    <div class="cell">
                        <span>2019 &copy; by Wonder Polska, Design & Code by <a target="_blank" href="https://expansja.pl/">Expansja Advertising</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>