<nav class="navbar">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <img src="assets/img/logo/wonder-workshop-white.png" />
            </div>
        </div>
    </div>
</nav>